@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
*{
	margin:0;
	padding:0;

}
body{
  position: absolute;
	font-family:'Nanum Gothic';
	overflow-x:hidden;
 background-color: #e9f0f5;
}

#free {
  background-color: red;
} 
#welcome2{
  position:absolute;
  right:14%;
  top:3%;
  padding:5px;
  margin:5px;
  width:200px;
  color:black;
  text-align:center;
  font-weight:300;
  font-family:Malgun Gothic;
}

#info, #logout{
  color:white;
  text-decoration: none;
}

#left_position {
  position:absolute;
  top:30%;
  margin-left:7%;
}
ul.navi li {
  list-style-type: none;
  display: block;
  width: 170px;
  height: 60px;
  float: bottom;
  text-align: center;
  font-family: Malgun Gothic;
  font-size:20px;
  border: 1px #E9F0F5 solid;
  background-color: #1ABC9B;
}

ul.navi li a {
  display: block; 
  padding: .8em .5em .5em .5em; 
  text-decoration: none; 
  color: white; 

}

ul.navi li:hover{ 
  background-color:#5DC4C5;

}

#board_list_div, #freeboard_show_div{
  position:absolute;
  top:20%;
  left:30%;
}
#main_logo{
  width:150px;
  height:50px;
  position:absolute;
  top:3%;
  left:3%;
}
#main_img{
	opacity:0.7;
	position:absolute;
}
#main_bottom_div{
	position:fixed;
	top:93%;
	margin-left:15%;
}
#main_bottom_div table{
	margin:0 40px;
}
#main_bottom_div table p{
	margin:0 63px;
}
#p2{
	position:absolute;
	right:8%;
	top:3%;
}
#p3{
	position:absolute;
	right:2%;
	top:3%;
}
#i1{
	position:absolute;
	top:10%;
  left:28%;
}
#si_button:hover{
  background-color:lightblue;
}
#si_button{
  position:absolute;
  right:8.5%;
  top:3%;
  padding:5px;
  margin:5px;
  width:80px;
  text-align:center;
  background: #1BBC9B;
  border-radius: 0.25em;
  display: inline-block;
  height: 22px;
}
#login_button:hover{
  background-color:#1BBC9B;
}
#login_button{
  position:absolute;
  right:2%;
  top:3%;
  padding:5px;
  margin:5px;
  width:80px;
  border:1px solid white;
  text-align:center;
  font-family:Malgun Gothic;
  background: #1BBC9B;
  border-radius: 0.25em;
  display: inline-block;
  height: 22px;
}
a.desc:link, a.desc:active, a.desc:visited{
	color:black;
	text-decoration:none;
}
a.asc:link, a.asc:active, a.asc:visited{
	color:white;
	text-decoration:none;
}
