html,body{width:100%;height:100%}
html{overflow-y:scroll}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button{margin:0;padding:0}
body,h1,h2,h3,h4,input,button{font-family:'Nanum Gothic',dotum,Helvetica,sans-serif;font-size:15px;color:#383d41}
body{background-color:#fff;text-align:center;*word-break:break-all;-ms-word-break:break-all}
img,fieldset,iframe{border:0 none}
li{list-style:none}
input,select,button{vertical-align:middle}
img{vertical-align:top}
i,em,address{font-style:Nanum Gothic}
label,button{cursor:pointer}
button{margin:0;padding:0}
a{color:#2f3743;text-decoration:none}
a:hover{color:#390;text-decoration:underline}
button *{position:relative}
button img{left:-3px;*left:auto}
html:first-child select{height:20px;padding-right:6px}
option{padding-right:6px}
hr{display:none}
legend{*width:0}
table{/* border-collapse:collapse;table-layout:fixed; */border-collapse:collapse;border-spacing:0}


@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
*{
	margin:0;
	padding:0;
}
body{
	font-family:'Nanum Gothic';
	overflow-x:hidden;
}
#main_bottom_div{
  width:100%;
  height:50px;
  background-color:white;
  position:fixed;
  bottom:0%;
  border-top:1px solid #aaaaaa;
  z-index:1;
}
#main_bottom_div li{
  list-style:none;
  color:white;
  padding:5px;
  margin:5px;
  font-size:20px;
}
#main_logo{
	width:150px;
	height:50px;
	position:fixed;
	top:3%;
	left:3%;
}

#welcome{
	position:absolute;
	right:18%;
	top:3%;
	padding:5px;
	margin:5px;
	width:200px;
	color:white;
	text-align:center;
	font-weight:bold;
	font-family:Malgun Gothic;
}

#sym_button,#sick_name_button{
	border:10px solid white;
	position:absolute;
	top:40%;
	left:18%;
	font-weight:1000;
	font-size:50;
	border-radius:20;
	-moz-border-radius:20;
	padding:10;
}
#sick_name_button{
	margin-left:40%;
}
#sym_button a:link,#sick_name_button a:link{
	color:white;
	text-decoration:none;
	font-weight:bold;
}
#sym_button a:visited,#sick_name_button a:visited{
	color:white;
}
#si_button:hover{
	background-color:#1BBC9B;
}
#si_button{
	position:absolute;
	right:11%;
	top:3%;
	padding:5px;
	margin:5px;
	width:80px;
	color:white;
	border:1px solid white;
	text-align:center;
	font-weight:bold;
	font-family:Malgun Gothic;
}
#login_button:hover{
	background-color:#1BBC9B;
}
#login_button{
	position:absolute;
	right:2%;
	top:3%;
	padding:5px;
	margin:5px;
	width:80px;
	border:1px solid white;
	text-align:center;
	font-weight:bold;
	font-family:Malgun Gothic;
}

a.desc:link, a.desc:active, a.desc:visited{
  color:black;
  text-decoration:none;
  float:left;
  padding:15px;
  font-weight: bold;
}
a.asc:link, a.asc:active, a.asc:visited{
	color:white;
	text-decoration:none;
}