html,body{width:100%;height:100%}
html{overflow-y:scroll}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button{margin:0;padding:0}
body,h1,h2,h3,h4,input,button{font-family:'Nanum Gothic',dotum,Helvetica,sans-serif;font-size:15px;color:#383d41}
body{background-color:#fff;text-align:center;*word-break:break-all;-ms-word-break:break-all}
img,fieldset,iframe{border:0 none}
li{list-style:none}
input,select,button{vertical-align:middle}
img{vertical-align:top}
i,em,address{font-style:Nanum Gothic}
label,button{cursor:pointer}
button{margin:0;padding:0}
a{color:#2f3743;text-decoration:none}
a:hover{color:#390;text-decoration:underline}
button *{position:relative}
button img{left:-3px;*left:auto}
html:first-child select{height:20px;padding-right:6px}
option{padding-right:6px}
hr{display:none}
legend{*width:0}
table{/* border-collapse:collapse;table-layout:fixed; */border-collapse:collapse;border-spacing:0}


@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
*{
	margin:0;
	padding:0;
}
body{
	font-family:'Nanum Gothic';
	overflow-x:hidden;
}
#main_bottom_div{
	position:fixed;
	top:93%;
	margin-left:20%;
}
#main_bottom_div table{
	margin:0 40px;
}
#main_bottom_div table p{
	margin:0 63px;
}
#main_logo{
	width:150px;
	height:50px;
	position:fixed;
	top:3%;
	left:3%;
}

#bord_div{
	position:absolute;
	border:1px solid;
	margin-left:50%;
	margin-top:13%;
	height:300px;
}
#step1_div{
	position:absolute;
	top:13%;
	left:15%;
}
#step2_div{
	position:absolute;
	top:13%;
	right:15%;
}
span{
	position:relative;
}
#s1{
	top:210px;
	left:220px;
	border:1px solid;
	border-radius:15;
	font-size:50;
	padding:8 100 8 100;
}
#s2{
	top:250px;
	left:220px;
	border:1px solid;
	border-radius:15;
	font-size:50;
	padding:8 120 8 130;
}
#s3{
	top:290px;
	left:220px;
	border:1px solid;
	border-radius:15;
	font-size:50;
	padding:8 100 8 100;
}
#s4{
	top:290px;
	left:220px;
	border:1px solid;
	border-radius:15;
	font-size:50;
	padding:8 100 8 100;
}
#s5{
	top:0px;
	left:950;
	font-size:50;
	border-bottom:2px solid;
}
#s6{
	top:30px;
	left:950;
	font-size:50;
	border-bottom:2px solid;
}
#s7{
	top:60px;
	left:950;
	font-size:50;
	border-bottom:2px solid;
}
#s8{
	top:90px;
	left:950;
	font-size:50;
	border-bottom:2px solid;
}
#s9{
	top:-10px;
	left:790;
	font-size:40;
	border-bottom:2px solid;
}
#s10{
	top:30px;
	left:830;
	font-size:40;
	border-bottom:2px solid;
}
#s11{
	top:70px;
	left:800;
	font-size:40;
	border-bottom:2px solid;
}
#s12{
	top:110px;
	left:780;
	font-size:40;
	border-bottom:2px solid;
}
#s13{
	top:-194px;
	left:1050;
	font-size:40;
	border-bottom:2px solid;
}
#s14{
	top:-154px;
	left:1100px;
	font-size:40;
	border-bottom:2px solid;
}
#s15{
	top:-114px;
	left:1100px;
	font-size:40;
	border-bottom:2px solid;
}
#s16{
	top:-75px;
	left:1120px;
	font-size:40;
	border-bottom:2px solid;
}
#s17{
	top:-0px;
	left:950px;
	font-size:40;
	border-bottom:2px solid;
}
#s18{
	top:30px;
	left:950px;
	font-size:40;
	border-bottom:2px solid;
}
#s19{
	top:70px;
	left:930px;
	font-size:40;
	border-bottom:2px solid;
}
#s20{
	top:110px;
	left:830px;
	font-size:40;
	border-bottom:2px solid;
}
#si_button:hover{
	background-color:#1BBC9B;
}
#si_button{
	position:absolute;
	right:11%;
	top:3%;
	padding:5px;
	margin:5px;
	width:80px;
	color:white;
	border:1px solid white;
	text-align:center;
	font-weight:bold;
	font-family:Malgun Gothic;
}
#login_button:hover{
	background-color:#1BBC9B;
}
#login_button{
	position:absolute;
	right:2%;
	top:3%;
	padding:5px;
	margin:5px;
	width:80px;
	border:1px solid white;
	text-align:center;
	font-weight:bold;
	font-family:Malgun Gothic;
}

a.desc:link, a.desc:active, a.desc:visited{
	color:black;
	text-decoration:none;
}
a.asc:link, a.asc:active, a.asc:visited{
	color:white;
	text-decoration:none;
}