@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

*{
  font-family: Malgun Gothic;
  margin:0;
  padding:0;
}

a{
  color: #444444;
  text-decoration:none;
}

#comchk{
  position: absolute;
  top: 15%;
  left: 36%;
}
#total{
	position:absolute;
	top:18%;
	margin-left:30%;
	padding:3px;

}
#delbtn2{
  position: absolute;
  top: 15%;
  left: 38%;
  text-align:center;
  background: #1BBC9B;
  border-radius: 0.25em;
  display: inline-block;
  height: 22px;
  color: white;
  border: 0;
    cursor: pointer;
}
.commentBox{
  position: absolute;
  width: 50%;
  height:50%;
  top:20%;
  left:35%;
}

.comment_pos{
  padding: 7px 18px 3px 18px;
  clear: both;
  background-color: white;
    border-bottom: thin solid #bcbcbc;

}

.comment_pos{
    padding: 7px 18px 3px 18px;
  clear: both;
}

#subject{
    padding-left: 20px;
}

#content_link{
  color: #a1a1a1;
  margin: 0;
  line-height: 1.6;
  text-align: left;
  word-break: break-all;
  word-wrap: break-word;
}

#list_row_info td, #menu td, #menu th{
     border-bottom: thin solid #bcbcbc;
}
#right{
  position:absolute;
  top:20%;
  margin-left:30%;
  display: table;
  border-spacing: 2px;
  border-color: gray;
  margin-bottom: 10%;
  border-collapse: collapse;
  padding:15px;
}
#right td{
  padding: 9px 9px 0px 9px;
}
#board_list_div{
	position:absolute;
	top:20%;
	left:30%;
}

#board_list_div ul li{
	list-style:none;
	padding:10px;
	font-size:40px;
	text-align:center;
	right:10px;
	margin-bottom:1px;
}

#search_form_div{
	position:absolute;
	bottom:15%;
	left:50%;
}
#page_num_div{
  position:absolute;
  bottom:23%;
  left:56%;
}


body{
	font-family:'Nanum Gothic';
 background-color: #e9f0f5;
 overflow: visible;

}
html{
   width: 100%;
 height:90%;
}
.selected{
    background-color: red !important;
    color:white;
    border:2px solid red !important;
}


#welcome2{
  position:absolute;
  right:17%;
  top:3%;
  padding:5px;
  margin:5px;
  width:200px;
  color:black;
  text-align:center;
  font-weight:300;
  font-family:Malgun Gothic;
}

#welcome1{
  position:absolute;
  right:8%;
  top:3%;
  padding:5px;
  margin:5px;
  width:200px;
  color:black;
  text-align:center;
  font-weight:300;
  font-family:Malgun Gothic;
}



#info, #logout{
  color:black;
  text-decoration: none;
}

#left_position {
  position:absolute;
  top:30%;
  margin-left:7%;
}
#share,#home,#reply,#free {
  background-color: red;
}
ul.navi{
  margin:0;
}
ul.navi li {
  list-style-type: none;
  display: block;
  width: 170px;
  height: 60px;
  float: bottom;
  text-align: center;
  font-family: Malgun Gothic;
  font-size:20px;
  border: 1px #E9F0F5 solid;
  background-color: #1ABC9B;
}

ul.navi li a {
  display: block; 
  padding: .8em .5em .5em .5em; 
  text-decoration: none; 
  color: white; 

}

ul.navi li:hover{ 
  background-color:#5DC4C5;

}

#main_logo{
  width:150px;
  height:50px;
  position:absolute;
  top:3%;
  left:3%;
}
#main_img{
	opacity:0.7;
	position:absolute;
}
#main_bottom_div{
  width:100%;
  height:50px;
  background-color:#E9F2FB;
  position:fixed;
  bottom:0%;
  border-top:1px solid #aaaaaa;
  z-index:1;
}
#main_bottom_div li{
  list-style:none;
  color:white;
  padding:5px;
  margin:5px;
  font-size:20px;
}
#p2{
	position:absolute;
	right:8%;
	top:3%;
}
a.desc:link, a.desc:active, a.desc:visited{
  color:black;
  text-decoration:none;
  float:left;
  padding:15px;
  font-weight: bold;
}
#p3{
	position:absolute;
	right:2%;
	top:3%;
}
#i1{
	position:absolute;
	top:10%;
  left:28%;
}

#search_btn{
   text-align:center;
  background: #1BBC9B;
  border-radius: 0.25em;
  display: inline-block;
  height: 22px;
  color: white;
  border: 0;
}
#si_button:hover{
  background-color:#1BBC9B;
  border:1px solid white;
  color:white;
}
#si_button{
  position:absolute;
  right:11%;
  top:3%;
  padding:5px;
  margin:5px;
  width:80px;
  color:black ;
  border:1px solid black;
  text-align:center;
  font-weight:bold;
  font-family:Malgun Gothic;
}

a.asc:active:hover{
  color:white;
  text-decoration:none;
}
a.asc:link, a.asc:visited:hover{
  color:white;
  text-decoration:none;
}
a.asc:hover{
  color:white;
  text-decoration:none;
}

#login_button:hover{
  background-color:#1BBC9B;
  border:1px solid white;
  color:white;
}
#login_button{
  position:absolute;
  right:2%;
  top:3%;
  padding:5px;
  margin:5px;
  width:80px;
  color:black;
  border:1px solid black;
  text-align:center;
  font-weight:bold;
  font-family:Malgun Gothic;
}



/* *****************************freeboard_list 부분 **************************/
/* 게시판 테이블부분 */
#board-list-div{
  position:absolute;
  margin-left:25%;
  margin-top:5%;
  height:600px;
  text-align:center;
}

#board-list th{
  background-color:#F3F3F3;
  text-align:center;
  padding:10px;
}
#board-list td:not(:nth-child(2)){
  text-align:center;
}
#board-list td{
  padding:10px;
}
.row-fluid{
  margin-bottom:-25px;
}
/*페이지 검색*/
#search-select{
  width:100px;
  margin-right:10px;
}
#search-text{
  height:30px;
}

/*글쓰기 버튼*/
#btn-div{
  float:right;
  margin-right:5px;
}
/* ************************freeboard_show 부분 ******************* */
#show-div{
  position:absolute;
  margin-left:25%;
  margin-top:5%;
}
#content-div{
  padding-bottom:10px;
  margin-bottom:10px;
  border-bottom:1px solid #DDDDDD;
}

#comment-show-form{
  border-top:1px dotted black;
}
#comment-text{
  height:30px;
}
#head-content li{
  margin-bottom:-15px;
  float:right;
  margin-left:3px;
}
#board-show th{
  background-color:#F3F3F3;
}
#board-show th:nth-child(1){
  font-weight:lighter;
}
#board-show tr:nth-child(2){
  border-bottom:1px solid #DDDDDD;
}
#board-show span{
  font-weight:lighter;
  margin-left:30%;
}
/******************************** freeboard-write 부분 ***************************/
#board-write-div{
  position:absolute;
  margin-left:25%;
  margin-top:5%;
  text-align:center;
}
#row2{
  margin-top:10px;
}
#board-write-div p{
  font-size:20px;
  color:gray;
}
#board-write-div ul{
  list-style:none;
}
/************************* Mypage.php 부분 *********************************/
#search-form-div{
  text-align:center;
  margin-bottom:40px;
}
#board-list th{
  vertical-align:middle;
}
#board-list :nth-child(2){
  text-align:center;
}