@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

*{
  font-family: Malgun Gothic;
  margin:0;
  padding:0;
}

body{
  font-family:'Nanum Gothic';
 background-color: white;
 overflow: visible;
 position: relative;
 padding-top: 100px;

}
a.desc:link, a.desc:active, a.desc:visited{
  color:black;
  text-decoration:none;
  float:left;
  padding:15px;
  font-weight: bold;
}
#search_place{
  position: absolute;
  margin-left: 200px;
  margin-top: 40px;
}
#main_bottom_div{
  width:100%;
  height:50px;
  background-color:#E9F2FB;
  position:fixed;
  bottom:0%;
  border-top:1px solid #aaaaaa;
  z-index:1;
}
#main_bottom_div li{
  list-style:none;
  color:white;
  padding:5px;
  margin:5px;
  font-size:20px;
}

#page-header{
  margin-left: 390px;
}

#myModal{
  max-height: 600px;
    overflow-y: auto;
}

#tipinfo{
  position: absolute;
  margin-top: 80px;
  margin-bottom: 50px;
  margin-left: 200px;
  width: 1000px;
}
#imgs{
  position:absolute;
}
.span4{
  width:350px;
  padding:20px;
}

#si_button:hover{
  background-color:#1BBC9B;
  border:1px solid white;
  color:white;
}
#si_button{
  position:absolute;
  right:11%;
  top:3%;
  padding:5px;
  margin:5px;
  width:80px;
  color:black ;
  border:1px solid black;
  text-align:center;
  font-weight:bold;
  font-family:Malgun Gothic;
}

a.asc:active:hover{
  color:white;
  text-decoration:none;
}
a.asc:link, a.asc:visited:hover{
  color:white;
  text-decoration:none;
}
a.asc:hover{
  color:white;
  text-decoration:none;
}

#login_button:hover{
  background-color:#1BBC9B;
  border:1px solid white;
  color:white;
}
#login_button{
  position:absolute;
  right:2%;
  top:3%;
  padding:5px;
  margin:5px;
  width:80px;
  color:black;
  border:1px solid black;
  text-align:center;
  font-weight:bold;
  font-family:Malgun Gothic;
}


img{
  width:400px;
  height:350px;
}
#p2,#p1,#p3{
  position:absolute;
  font-size:30px;
  font-weight:bold;
  margin-top:180px;
  display:none;
}
#p1{
  margin-left:140px;
}
#p2{
  margin-left:150px;
}
#p3{
  margin-left:140px;
}
#text-div{
  margin-top:2%;
  margin-bottom:40px;
}
#text-div input{
  height:30px;
}
#text-div a{
  padding:8px;
}
.row-fluid{
  position:relative;
  margin-left:1%;
}
#cont{
  
  margin-top:3%;
}

#welcome2{
  position:absolute;
  right:17%;
  top:3%;
  padding:5px;
  margin:5px;
  width:200px;
  color:black;
  text-align:center;
  font-weight:300;
  font-family:Malgun Gothic;
}

#welcome1{
  position:absolute;
  right:8%;
  top:3%;
  padding:5px;
  margin:5px;
  width:200px;
  color:black;
  text-align:center;
  font-weight:300;
  font-family:Malgun Gothic;
}

#list{
  padding:8px; font-size:20px; border-bottom:1px #dddddd;
  margin-bottom: 15px;
}


#main_logo{
  width:150px;
  height:50px;
  position:absolute;
  top:3%;
  left:3%;
}