﻿@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

*{
	font-family:'Nanum Gothic';
	padding:0px;
	margin:0px;
}
#main_logo{
  width:150px;
  height:50px;
  position:absolute;
  top:3%;
  left:3%;
}
#welcome2{
  position:absolute;
  right:17%;
  top:3%;
  padding:5px;
  margin:5px;
  width:200px;
  color:black;
  text-align:center;
  font-weight:300;
  font-family:Malgun Gothic;
}

#info, #logout{
  color:black;
  text-decoration: none;
}
#si_button:hover{
  background-color:#1BBC9B;
  border:1px solid white;
  color:white;
}
#si_button{
  position:absolute;
  right:11%;
  top:3%;
  padding:5px;
  margin:5px;
  width:80px;
  color:black ;
  border:1px solid black;
  text-align:center;
  font-weight:bold;
  font-family:Malgun Gothic;
}

a.asc:active:hover{
  color:white;
  text-decoration:none;
}
a.asc:link, a.asc:visited:hover{
  color:white;
  text-decoration:none;
}
a.asc:hover{
  color:white;
  text-decoration:none;
}

#login_button:hover{
  background-color:#1BBC9B;
  border:1px solid white;
  color:white;
}
#login_button{
  position:absolute;
  right:2%;
  top:3%;
  padding:5px;
  margin:5px;
  width:80px;
  color:black;
  border:1px solid black;
  text-align:center;
  font-weight:bold;
  font-family:Malgun Gothic;
}

a.desc:link, a.desc:active, a.desc:visited{
	color:black;
	text-decoration:none;
	float:left;
	padding:15px;
	font-weight: bold;
}
#main_bottom_div{
	width:100%;
	height:50px;
	background-color:#E9F2FB;
	position:fixed;
	bottom:0%;
	border-top:1px solid #aaaaaa;
	z-index:1;
}
#main_bottom_div li{
	list-style:none;
	color:white;
	padding:5px;
	margin:5px;
	font-size:20px;
}
/******************* 소개 제일 윗단 **********************************/
#intro1{
	height:600px;
	text-align:center;
}
#img-ul .img-polariod{
	width:250px;
	height:250px;
}
#img-ul{
	list-style:none;
	margin-top:10%;
}
#img-ul li:not(:nth-child(1)){
	border-left:1px solid #dddddd;
	padding-left:3%;
	padding-right:3%;
}
#img-ul p{
	color:#c5c5c5;
}
/****************************두번째 소개 ******************/
#intro2{
	margin:0px;
	padding:0px;
	height:650px;
	background-color:#F4F4F4;
}
#wrap img{
	float:left;
	width:700px;
	height:400px;
}
#wrap{
	width:5600px;
	position:absolute;
}
#cont{
	position:relative;
	margin-left:13%;
	margin-top:8%;
	width:700px;
	height:400px;
	box-shadow: 5px 10px 5px #888888;
	overflow:hidden;
}
#img-div1{
	margin-top:15%;
	margin-left:2%;
	width:80px;
	position:absolute;
}
#img-div2{
	margin-top:15%;
	width:80px;
	position:absolute;
}
#img-ul2 .img-polariod{
	width:80px;
	height:80px;
	padding:15px;
}
#img-ul2{
	margin-top:50%;
	margin-left:20%;
}
#text-box-div{
	position:absolute;
	margin-top:10%;
	margin-left:10%;
}
.select{
	border:1px solid black;
}
.text-select{
	display:none;
}
/****************************세번째 소개 ******************/
#intro3{
	height:650px;
	position:absolute;
}
#table1{
	border-collapse:collapse;
}
#table1 td{
	background-color:#F4F4F4;
	text-align:center;
	width:600px;
	height:80px;
	border:1px solid gray;
	padding:5px;
	font-size:20px;
}