
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

*{
	margin:0;
	padding:0;
	font-family:'Nanum Gothic';

}
#main_logo{
	width:330px;
	height:110px;
	position:absolute;
	top:10%;
	left:35%;
	z-index:200;
}
#main_bottom_div{
	width:100%;
	height:50px;
	background-color:#E9F2FB;
	position:fixed;
	bottom:0%;
	border-top:1px solid #aaaaaa;
	z-index:1;
}
#main_bottom_div li{
	list-style:none;
	color:white;
	padding:5px;
	margin:5px;
	font-size:20px;
}

#char_one{	
	position:absolute;
	width:646px;
	left:354px;
	top:100px;
	text-align:center;
	font-size:32;
	font-weight: bold;
	color:#515058;
}
#main_intro_div{	
	position:absolute;
	left:175px;
	top:210px;
}
#main_intro_div img{
	padding:10px 85px;
}
#main_intro_div p1{
	font-size:30px;
	color:white;
	text-align:center;
	padding-bottom:25px;
}
#main_intro_div p{
	color:white;
	text-align:center;
}
#diag_intro_td,#location_intro_td,#board_intro_td{
	border-right:1px solid #cccccc;
}

#main_intro_wrap_div{
	background-size:100% 650px;
	height:650px;
}
#diag_intro_wrap_div{
	background-color:#F4F4F4;
	height:700px;
}
#diag_intro_main{
	position:absolute;
	top:125%;
	left:8%;
	width:400px;
	height:300px;
}
#main_img{
	width:400px;
	height:100%;
}
#sub_img,#sub_img2,#sub_img3,#sub_img4{
	width:400px;
	height:250px;
	float:left;
}
#diag_intro_sub{
	position:relative;
	top:3%;
	left:60%;
	width:400px;
	height:250px;
}
#diag_intro_sub2{
	position:relative;
	top:13%;
	left:60%;
	width:400px;
	height:250px;
}
#arrow1{
	position:absolute;
	width:150;
	top:920px;
	left:550;
}
#arrow2{
	position:absolute;
	width:130;
	top:1180px;
	left:550;
}
#diag_p1,#diag_p2{
	position:absolute; 
	top:248px;
	right:40px;
	font-size: 18px;
	padding:10px;
}
#diag_p2{
	right:80px;
}
#container{
	position:relative;
	width:400px;
	height:250px;
	overflow:hidden;
}
#sub_img_slide_right{
	position:absolute;
	height:55;
	right:7%;
	top:800px;
	z-index:100;
}
#sub_img_slide_left{
	position:absolute;
	height:55;
	right:40%;
	top:800px;
	z-index:100;
}
#sub_img_slide_right2{
	position:absolute;
	height:55;
	right:7%;
	top:1120px;
}
#sub_img_slide_left2{
	position:absolute;
	height:55;
	right:40%;
	top:1120px;
}
#slide_wrap{
	width:1200px;
	position:absolute;
	height:250;
}
#main_intro_wrap_div{
	width:100%;
 	background-color: white;
	height:95%;
}

#board_intro_wrap_div{
	background-color:white;
	height:670px;
}
#board_intro_wrap_div li{
	list-style:none;
	padding:5px;
	position:absolute;
	left:200px;
}
#board_intro_wrap_div li:first-child{
	margin-top:10px;
}
#board_intro_wrap_div li:nth-child(2){
	margin-top:230px;
}
#board_intro_wrap_div li:last-child{
	margin-top:450px;
}

#diag_navi_div{
	background-color:#F4F4F4;
	height:100%;
}
table{
	font-family:'Nanum Gothic';
	font-size:20px;

}
table tr{
	border: 0;
}
table td{
	border: 0;
}
#si_button{
	 position:absolute;
	  right:10%;
	  top:3%;
	  padding:5px;
	  margin:5px;
	  width:80px;
	  font-family:Malgun Gothic;
	  text-align:center;
	  background: #1BBC9B;
	  border-radius: 0.25em;
	  display: inline-block;
	  height: 22px;
	  box-shadow:1px 2px 1px 1px #C5C5C5;
}
#login_button{
  position:absolute;
  right:2%;
  top:3%;
  padding:5px;
  margin:5px;
  width:80px;
  text-align:center;
  font-family:Malgun Gothic;
  background: #1BBC9B;
  border-radius: 0.25em;
  display: inline-block;
  height: 22px;
  box-shadow:1px 2px 1px 1px #C5C5C5;
}
#si_button:hover,#login_button:hover{
	background-color:lightblue;
}

a.desc:link, a.desc:active, a.desc:visited{
	color:black;
	text-decoration:none;
	float:left;
	padding:15px;
	font-weight: bold;
}
a:link, a:visited{
	color:white;
	text-decoration:none;
}
a.asc:link, a.asc:active, a.asc:visited{
	color:white;
	text-decoration:none;
}#main_intro_div h2{
	color:#515058;
	text-align:center;
	padding-bottom:25px;
	font-size: 30px;
}
#main_intro_div p{
	color:#838289;
	text-align:center;
	font-size: 20px;
}
#welcome2{
  position:absolute;
  right:16%;
  top:3%;
  padding:5px;
  margin:5px;
  width:200px;
  color:black;
  text-align:center;
  font-weight:300;
  font-family:Malgun Gothic;
}


#welcome{
	position:absolute;
	right:18%;
	top:3%;
	padding:5px;
	margin:5px;
	width:200px;
	color:white;
	text-align:center;
	font-weight:bold;
	font-family:Malgun Gothic;
}