*{
	margin:0;
	padding:0;
}
#i1,#i2,#i3,#i4,#i5{
	padding:-5px;
	margin:15px 65px 0px;
}
#si_button:hover{
	background-color:#1BBC9B;
}
#si_button{
	position:absolute;
	right:11%;
	top:3%;
	padding:5px;
	margin:5px;
	width:80px;
	color:white;
	border:1px solid white;
	text-align:center;
	font-weight:bold;
	font-family:Malgun Gothic;
}
#welcome{
	position:absolute;
	right:18%;
	top:3%;
	padding:5px;
	margin:5px;
	width:200px;
	color:white;
	text-align:center;
	font-weight:bold;
	font-family:Malgun Gothic;
}
#login_button:hover{
	background-color:#1BBC9B;
}
#login_button{
	position:absolute;
	right:2%;
	top:3%;
	padding:5px;
	margin:5px;
	width:80px;
	border:1px solid white;
	text-align:center;
	font-weight:bold;
	font-family:Malgun Gothic;
}	
a:link, a:visited{
	color:white;
	text-decoration:none;
}
#main_logo{
	position:absolute;
	background-color: rgba( 255, 255, 255, 0.5 );
	width:600;
	height:150;
	padding-top:20px;
	padding-bottom:15px;
}
#img_div{
	position:absolute;
	top:45%;
	left:30%;
	margin-left:-50px;
	margin-top:-100px;
	padding-top:-30px;
	width:610;

	
}
#main_bottom_div p{
	text-align:center;
	font-family:Malgun Gothic;
}
table{
	margin:auto;
}
#main_img{
	margin:0;
	padding:0;
	width:100%;
	height:510px;
}
