html,body{width:100%;height:100%}
html{overflow-y:scroll}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button{margin:0;padding:0}
body,h1,h2,h3,h4,input,button{font-family:'Malgun Gothic',dotum,Helvetica,sans-serif;font-size:15px;color:#383d41}
body{background-color:#fff;text-align:center;*word-break:break-all;-ms-word-break:break-all}
img,fieldset,iframe{border:0 none}
li{list-style:none}
input,select,button{vertical-align:middle}
img{vertical-align:top}
i,em,address{font-style:Malgun Gothic}
label,button{cursor:pointer}
button{margin:0;padding:0}
a{color:#2f3743;text-decoration:none}
a:hover{color:#390;text-decoration:underline}
button *{position:relative}
button img{left:-3px;*left:auto}
html:first-child select{height:20px;padding-right:6px}
option{padding-right:6px}
hr{display:none}
legend{*width:0}
table{/* border-collapse:collapse;table-layout:fixed; */border-collapse:collapse;border-spacing:0}


*{
	margin:0;
	padding:0;
}
#welcome{
	position:absolute;
	right:18%;
	top:3%;
	padding:5px;
	margin:5px;
	width:200px;
	color:black;
	text-align:center;
	font-weight:bold;
	font-family:Malgun Gothic;
}
#i1,#i2,#i3,#i4,#i5{
	padding:-5px;
	margin:5px 65px 0px;
}
#si_button:hover{
	background-color:#1BBC9B;
}
#si_button{
	position:absolute;
	right:11%;
	top:3%;
	padding:5px;
	margin:5px;
	width:80px;
	color:white;
	border:1px solid white;
	text-align:center;
	font-weight:bold;
	font-family:Malgun Gothic;
}
#login_button:hover{
	background-color:#1BBC9B;
}
#login_button{
	position:absolute;
	right:2%;
	top:3%;
	padding:5px;
	margin:5px;
	width:80px;
	border:1px solid white;
	text-align:center;
	font-weight:bold;
	font-family:Malgun Gothic;
}
a:link, a:visited{
	color:white;
	text-decoration:none;
}
#main_logo{
	position:absolute;
	background-color: rgba( 255, 255, 255, 0.5 );
	top:50%;
	left:30%;
	margin-left:-50px;
	margin-top:-100px;
	width:600;
	height:150;
}
#main_div {
	width:100%;
	height:auto;
}
#main_img{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}

#main_div {
	position: relative;
	width:100%;
	height:85%;
}
#main_bottom_div{
		position:relative;
		height:auto;
}
#main_bottom_div p{
	text-align:center;
	font-family:Malgun Gothic;
}
table{
	margin:auto;
}
