@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
*{
	margin:0;
	padding:0;
}
body{
	font-family:'Nanum Gothic';
	overflow-x:hidden;
	color: white;
}

#right{
	position:absolute;
	top:20%;
	margin-left:30%;
 	border-style:solid;
 	border-width:2px;
	border-color:white;
	font-size:20px;
}
#search{
	position:absolute;
	top:80%;
	margin-left:50%;
}

#main_bottom_div{
	width:100%;
	height:50px;
	background-color:#E9F2FB;
	position:fixed;
	bottom:0%;
	border-top:1px solid #aaaaaa;
	z-index:1;
}
#main_bottom_div li{
	list-style:none;
	color:white;
	padding:5px;
	margin:5px;
	font-size:20px;
}
#main_logo{
	width:150px;
	height:50px;
	position:fixed;
	top:3%;
	left:3%;
}

#si_button:hover{
	background-color:#1BBC9B;
}
#si_button{
	position:absolute;
	right:11%;
	top:3%;
	padding:5px;
	margin:5px;
	width:80px;
	color:white;
	border:1px solid white;
	text-align:center;
	font-weight:bold;
	font-family:Malgun Gothic;
}
#welcome{
	position:absolute;
	right:18%;
	top:3%;
	padding:5px;
	margin:5px;
	width:200px;
	color:white;
	text-align:center;
	font-weight:bold;
	font-family:Malgun Gothic;
}
#login_button:hover{
	background-color:#1BBC9B;
}
#login_button{
	position:absolute;
	right:2%;
	top:3%;
	padding:5px;
	margin:5px;
	width:80px;
	border:1px solid white;
	text-align:center;
	font-weight:bold;
	font-family:Malgun Gothic;
}	

a.desc:link, a.desc:active, a.desc:visited{
	color:black;
	text-decoration:none;
}
a.asc:link, a.asc:active, a.asc:visited{
	color:white;
	text-decoration:none;
}

#left_position {
  position:absolute;
  top:30%;
  margin-left:7%;
}
ul.navi li {
  list-style-type: none;
  display: block;
  width: 170px;
  height: 60px;
  float: bottom;
  text-align: center;
  font-family: Malgun Gothic;
  font-size:20px;
  border: 1px white solid;

}

ul.navi li a {
  display: block; 
  padding: .8em .5em .5em .5em; 
  text-decoration: none; 
  color: white; 

}


ul.navi li:hover{ 
  background-color:#1BBC9B;

}