@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
body{
	
}
#email_p{
  color: black;
}
#main_bottom_div{
	width:100%;
	height:50px;
	background-color:#E9F2FB;
	position:fixed;
	bottom:0%;
	border-top:1px solid #aaaaaa;
	z-index:1;
}
#main_bottom_div li{
	list-style:none;
	color:white;
	padding:5px;
	margin:5px;
	font-size:20px;
}
*{
	font-family:'Nanum Gothic';
	margin:0;
	padding:0;
}
#location{
	position:absolute;
	top:43%;
	margin-left:43%;
	color: #a1a1a1;
}

#si_form_div{
	position:absolute;
	left:26%;
	top:15%;
	color:#a1a1a1;
	font-weight:bold;
}
#main_logo{
	width:150px;
	height:50px;
	position:fixed;
	top:3%;
	left:3%;
}

#mychange,#bye{
  background-color: red;
} 



#submit_div{

  width:60px;
  height:30px;
  background-color:white;
  color:black ;
  border:1px solid black;
  text-align:center;
  font-weight:bold;
  font-family:Malgun Gothic;
}
#submit_div:hover{
  background-color:#1BBC9B;
  border:1px solid white;
  color:white;
}
a.desc:link, a.desc:active, a.desc:visited{
  color:black;
  text-decoration:none;
  float:left;
  padding:15px;
  font-weight: bold;
}


#si_form_submit{
    position:absolute;
	left:79%;
	top:98%;
    text-align:center;
  width:100px;
  height:30px;
  background-color:white;
  color:black ;
  border:1px solid black;
  text-align:center;
  font-weight:bold;
  font-family:Malgun Gothic;
}
#si_form_submit:hover{
  background-color:#1BBC9B;
  border:1px solid white;
  color:white;
}


#duplication_button{
	float:right;
}

#signup_form{
	padding:5;
}
#main_img{
	
}

#welcome2{
  position:absolute;
  right:17%;
  top:3%;
  padding:5px;
  margin:5px;
  width:200px;
  color:black;
  text-align:center;
  font-weight:300;
  font-family:Malgun Gothic;
}

#si_button:hover{
	background-color:#1BBC9B;
	border:1px solid white;
	color:white;
}
#si_button{
	position:absolute;
	right:11%;
	top:3%;
	padding:5px;
	margin:5px;
	width:80px;
	color:black ;
	border:1px solid black;
	text-align:center;
	font-weight:bold;
	font-family:Malgun Gothic;
}

a.asc:active:hover{
	color:white;
	text-decoration:none;
}
a.asc:link, a.asc:visited:hover{
	color:white;
	text-decoration:none;
}
a.asc:hover{
	color:white;
	text-decoration:none;
}

#login_button:hover{
	background-color:#1BBC9B;
	border:1px solid white;
	color:white;
}
#login_button{
	position:absolute;
	right:2%;
	top:3%;
	padding:5px;
	margin:5px;
	width:80px;
	color:black;
	border:1px solid black;
	text-align:center;
	font-weight:bold;
	font-family:Malgun Gothic;
}

a.asc:link, a.asc:active, a.asc:visited{
	color:white;
	text-decoration:none;
}

#left_position {
  position:absolute;
  top:30%;
  margin-left:7%;
}
ul.navi li {
  list-style-type: none;
  display: block;
  width: 170px;
  height: 60px;
  float: bottom;
  text-align: center;
  font-family: Malgun Gothic;
  font-size:20px;
  border: 1px #E9F0F5 solid;
  background-color: #1ABC9B;
}

ul.navi li a {
  display: block; 
  padding: .8em .5em .5em .5em; 
  text-decoration: none; 
  color: white; 

}

ul.navi li:hover{ 
  background-color:#5DC4C5;

}
