/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pr_image{
  float: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.edit_area {
  width:90%;
  resize:none;
}

.com_del_sub{
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.delete_submit,.edit_submit {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #acb7c0;
    outline: 0;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#com_sub{
  padding: .3em .5em;
  background: #1BBC9B;
  color: white;
  font-family: Malgun Gothic;
  border-radius: 0.25em;
  display: inline-block;
  border: 0;
  margin-left: 10px;
}



#welcome2{
  position:absolute;
  right:17%;
  top:3%;
  padding:5px;
  margin:5px;
  width:200px;
  color:black;
  text-align:center;
  font-weight:300;
  font-family:Malgun Gothic;
}


#welcome2{
  position:absolute;
  right:17%;
  top:3%;
  padding:5px;
  margin:5px;
  width:210px;
  color:black;
  text-align:center;
  font-weight:300;
  font-family:Malgun Gothic;
}

#si_button:hover{
  background-color:#1BBC9B;
  border:1px solid white;
  color:white;
}
#si_button{
  position:absolute;
  right:11%;
  top:3%;
  padding:5px;
  margin:5px;
  width:80px;
  color:black ;
  border:1px solid black;
  text-align:center;
  font-weight:bold;
  font-family:Malgun Gothic;
  z-index: 100;
}

a.asc:active:hover{
  color:white;
  text-decoration:none;
}
a.asc:link, a.asc:visited:hover{
  color:white;
  text-decoration:none;
}
a.asc:hover{
  color:white;
  text-decoration:none;
}

#login_button:hover{
  background-color:#1BBC9B;
  border:1px solid white;
  color:white;
}
#login_button{
  position:absolute;
  right:2%;
  top:3%;
  padding:5px;
  margin:5px;
  width:80px;
  color:black;
  border:1px solid black;
  text-align:center;
  font-weight:bold;
  font-family:Malgun Gothic;
  z-index: 100;
}








#main_bottom_div{
  position:fixed;
  top:93%;
  margin-left:20%;
}

#main_bottom_div table{
  margin:0 40px;
}
#main_bottom_div table p{
  margin:0 63px;
}
#main_logo{
  width:150px;
  height:50px;
  position:fixed;
  top:3%;
  left:3%;
}

body {
  font-size: 100%;
  background-color: #e9f0f5;
  font-family: 'Nanum Gothic';
  background-color: #e9f0f5;
  color: #66656C;
  overflow: visible;
}

img {
  max-width: 100%;
}

h1, h2 {
  font-weight: bold;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
#left_position {

  position:absolute;
  position:fixed;
  top:30%;
  margin-left:7%;
}

ul.navi li.selected {
  list-style-type: none;
  display: block;
  width: 170px;
  height: 60px;
  float: bottom;
  text-align: center;
  font-family: Malgun Gothic;
  font-size:20px;
  border: 1px #E9F0F5 solid;
  background-color: red;
}

#proud {
  background-color: red;
} 

ul.navi li {
  list-style-type: none;
  display: block;
  width: 170px;
  height: 60px;
  float: bottom;
  text-align: center;
  font-family: Malgun Gothic;
  font-size:20px;
  border: 1px #E9F0F5 solid;
  background-color: #1ABC9B;
}

ul.navi li a {
  display: block; 
  padding: .8em .5em .5em .5em; 
  text-decoration: none; 
  color: white; 

}

ul.navi li:hover{ 
  background-color:#5DC4C5;
}

.edit, .delete, .and{
  float: right;
}

#notice_sub_div{
  width:55%;
  height:3%;
}

.edit_textarea{
  width:93%;
   margin-bottom: 10px;
  margin-top: 10px;
  resize:none;
  border:1; 
}
#notice_textarea{
  position: relative;
  width:49%;
  font-size:13pt;
  resize:none;
  border:0; 
  margin-top: 7px;
  margin-left: 11%;
}
#notice_sub{
  position: relative;
  margin-left: 97%;
  margin-top: 13px;
  padding: .8em 1em;
  background: #1BBC9B;
  color: white;
  border-radius: 0.25em;
  display: inline-block;
  border:0;
}/*게시하기 버튼*/

#notice_main_div{
  position: fixed;
  position:relative;
  left:19%;
  top:10%;
  padding:50 0 15 0px;
}

.file_input_button{
  width: 100px;
  position: absolute;
  top:0px;
  background-color: #1ABC9B;
  color: white;
  border: 0;
  height: 20px; 
  margin-left: 20px;
  border-radius: 0.25em;
}

.file_input_hidden:hover{
  cursor: pointer;
}
.file_input_hidden{
  margin-left: 20px;
 font-size: 23px;
 position: absolute;
 top:0px;
 height: 20px; 
 opacity: 0;
 right:0px;

 filter:alpha(opacity=0);
 -ms-filter: "alpha(opacity=0");
 -khtml-opacity:0;
 -moz-opacity:0;
}

.file_input_textbox{
  margin-left: 11%;
  float: left;
  border: 0;
  height: 20px;
}

#notice_add_div{
  position: relative;
  width: 200px;
  height: 23px;
  overflow: hidden;
}


.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 70%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
  left:15%;
  top: 7%
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}


/* -------------------------------- 

Main components 

-------------------------------- */


@media only screen and (min-width: 1170px) {
 .cd-container {
    margin-top: 0.7em;
    margin-bottom: 3em;
  }
  .cd-container::before {
    left: 78%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1170px) {
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
}

.cd-timeline-content .cd-read-more{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: 0;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more{
  font-size: 13px;
  font-size: 0.8125rem;
    color: #acb7c0;

}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
} /* 댓글보기 버튼*/
#notice_sub:hover {
  background-color: #5DC4C5;
  cursor:pointer;
} /* 댓글보기 버튼 hover*/
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }

}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 70%;
  }

  .cd-timeline-content .cd-read-more {
    float: right;
  }

  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@-webkit-keyframes cd-bounce-2 {
  0% {cd-timeline-content
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
