@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
body{
	font-family:'Nanum Gothic';
}
ul li{
	list-style:none;
	border:1px solid grey;
	width:200px;
	font-size:35px;
	text-align:center;
	padding:20 0 20 0;
}
#si_button:hover{
	background-color:#1BBC9B;
}
#si_button{
	position:absolute;
	right:11%;
	top:3%;
	padding:5px;
	margin:5px;
	width:80px;
	color:white;
	border:1px solid white;
	text-align:center;
	font-weight:bold;
	font-family:Malgun Gothic;
}
#login_button:hover{
	background-color:#1BBC9B;
}
#login_button{
	position:absolute;
	right:2%;
	top:3%;
	padding:5px;
	margin:5px;
	width:80px;
	border:1px solid white;
	text-align:center;
	font-weight:bold;
	font-family:Malgun Gothic;
}

a.desc:link, a.desc:active, a.desc:visited{
	color:black;
	text-decoration:none;
}
a.asc:link, a.asc:active, a.asc:visited{
	color:white;
	text-decoration:none;
}