@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
*{
	margin:0;
	padding:0;
}
body{
	font-family:'Nanum Gothic';
	overflow-x:hidden;
}
#main_bottom_div{
	width:100%;
	height:50px;
	background-color:#E9F2FB;
	position:fixed;
	bottom:0%;
	border-top:1px solid #aaaaaa;
	z-index:1;
}
#main_bottom_div li{
	list-style:none;
	color:white;
	padding:5px;
	margin:5px;
	font-size:20px;
}

#notice_char{
	padding:2.5px;
	width:32%;
}
#notice_add_div{
	margin-bottom:3px;
	width:54.8%;
	border:1px solid;
}
#notice_sub_div{
	background-color:#F6F7FB;
	width:55%;
	height:3%;
}
#notice_textarea{
	width:55%;
	border:1px solid;
	font-size:13pt;
	padding:10px 10px;
	resize:none;
}
#notice_sub{
	border-width:0;
	color:white;
	background-color:#47649F;
	position:absolute;
	left:500px;
	width:55.5;
}
#notice_main_div{
	position:relative;
	left:10%;
	padding:0 0 15 0px;
}
table{
	position:relative;
	border:1px solid;
	margin-left:10%;
}
table img{
	margin:3% 2%;
	width:500px; height:200;
}
.like_button img{
	width:20px;
	height:20px;
	margin-top:5;
}
#si_button:hover{
	background-color:#1BBC9B;
}
#si_button{
	position:absolute;
	right:11%;
	top:3%;
	padding:5px;
	margin:5px;
	width:80px;
	color:white;
	border:1px solid white;
	text-align:center;
	font-weight:bold;
	font-family:Malgun Gothic;
}
#login_button:hover{
	background-color:#1BBC9B;
}
#login_button{
	position:absolute;
	right:2%;
	top:3%;
	padding:5px;
	margin:5px;
	width:80px;
	border:1px solid white;
	text-align:center;
	font-weight:bold;
	font-family:Malgun Gothic;
}
a.desc:link, a.desc:active, a.desc:visited{
	color:black;
	text-decoration:none;
	float:left;
	padding:15px;
	font-weight: bold;
}

a.asc:link, a.asc:active, a.asc:visited{
	color:white;
	text-decoration:none;
}