html,body{width:100%;height:100%}
html{overflow-y:scroll}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button{margin:0;padding:0}
body,h1,h2,h3,h4,input,button{font-family:'Nanum Gothic',dotum,Helvetica,sans-serif;font-size:15px;color:#383d41}
body{background-color:#fff;text-align:center;*word-break:break-all;-ms-word-break:break-all}
img,fieldset,iframe{border:0 none}
li{list-style:none}
input,select,button{vertical-align:middle}
img{vertical-align:top}
i,em,address{font-style:Nanum Gothic}
label,button{cursor:pointer}
button{margin:0;padding:0}
a{color:#2f3743;text-decoration:none}
a:hover{color:#390;text-decoration:underline}
button *{position:relative}
button img{left:-3px;*left:auto}
html:first-child select{height:20px;padding-right:6px}
option{padding-right:6px}
hr{display:none}
legend{*width:0}
table{/* border-collapse:collapse;table-layout:fixed; */border-collapse:collapse;border-spacing:0}

@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
*{
	margin:0;
	padding:0;
}
body{
	font-family:Malgun Gothic;
	background-color: #e9f0f5;
}
a.desc:link, a.desc:active, a.desc:visited{
	color:black;
	text-decoration:none;
	float:left;
	padding:12px;
	font-weight: bold;
}

#welcome2{
  position:absolute;
  right:17%;
  top:3%;
  padding:5px;
  margin:5px;
  width:200px;
  color:black;
  text-align:center;
  font-weight:300;
  font-family:Malgun Gothic;
}

#main_bottom_div{
	width:100%;
	height:50px;
	background-color:#F2EEEF;
	position:fixed;
	bottom:0%;
	border-top:1px solid #aaaaaa;
}
#main_bottom_div li{
	list-style:none;
	color:white;
	padding:5px;
	margin:5px;
	font-size:20px;
}
#main_logo{
	width:150px;
 	height:50px;
	position:absolute;
	top:3%;
	left:3%;
}
#login_div{
	position:absolute;
	top:35%;
	left:20%;
	padding:20 10;
	margin-left:5;
}
#link_login_div{
	position:absolute;
	top:38%;
	left:60%;
}
.link_login_img{
	left:56%;
	width:270px;
	height:45px;
}
#si_button:hover{
	background-color:#1BBC9B;
	border:1px solid white;
	color:white;
}
#si_button{
	position:absolute;
	right:11%;
	top:3%;
	padding:5px;
	margin:5px;
	width:80px;
	color:black ;
	border:1px solid black;
	text-align:center;
	font-weight:bold;
	font-family:Malgun Gothic;
}

a.asc:active:hover{
	color:white;
	text-decoration:none;
}
a.asc:link, a.asc:visited:hover{
	color:white;
	text-decoration:none;
}
a.asc:hover{
	color:white;
	text-decoration:none;
}

#login_button:hover{
	background-color:#1BBC9B;
	border:1px solid white;
	color:white;
}
#login_button{
	position:absolute;
	right:2%;
	top:3%;
	padding:5px;
	margin:5px;
	width:80px;
	color:black;
	border:1px solid black;
	text-align:center;
	font-weight:bold;
	font-family:Malgun Gothic;
}

a.desc:link, a.desc:active, a.desc:visited{
	color:black;
	text-decoration:none;
	margin-left:25px;
}
a.asc:link, a.asc:active, a.asc:visited{
	color:black;
	text-decoration:none;
}
#search{
	position:absolute;
	top:60%;
	left:25%;
	height:35px;
	font-size:20;
	box-shadow:2px 2px 2px 1px #F5F5F5 inset;
	border:1px solid #D9D9D9;
}
#search2{
	position:absolute;
	top:70%;
	left:25%;
	height:35px;
	font-size:20;
	box-shadow:2px 2px 2px 1px #F5F5F5 inset;
	border:1px solid #D9D9D9;
}
#search:hover{
	border:1px solid blue !important;
}
#sub2{
	position:absolute;
	top:70%;
	right:25%;
	font-size:20;
	height:35px;
	font-weight: bold;
}
#fon{
	position:absolute;
	top:8%;
	left:35%;
}
#div1{
	position:absolute;
	top:52%;
	left:24%;
}
#middleimg{
	position: absolute;
	left:220px;
	top:200px;
}
#head,#dog,#behavior{
	margin-left:10px;
	width:350px;
	height:300px;
	z-index: -1;
}
#head:hover{ 
	opacity: 0.6;
} 
#dog:hover{ 
	opacity: 0.6;
} 
#behavior:hover{ 
	opacity: 0.6;
} 
/*************************** sickness.php 8/9 수정 *********************************/
button[type=submit]{
	margin-bottom:7px;
}
#searchInsert{
	padding:10px;
	margin-bottom:0px;
}
#vi{
	cursor:pointer;
	padding:5px;
}
/*************************** sickness_check.php 8/9 수정 *********************************/
#research_p a, #research_p a.link,#research_p a:active,#research_p a:visited{
	color:lightgreen; 
	text-decoration:none;
	border:1px solid lightgreen;
	padding:5px;
}

#no_div a:hover{
	color:white;
	background-color:lightgreen;
}
.row-fluid h3{
	text-align:center;
}