html,body{width:100%;height:100%}
html{overflow-y:scroll}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button{margin:0;padding:0}


img,fieldset,iframe{border:0 none}
li{list-style:none}
input,select,button{vertical-align:middle}
img{vertical-align:top}
i,em,address{font-style:Nanum Gothic}
label,button{cursor:pointer}
button{margin:0;padding:0}

button *{position:relative}
button img{left:-3px;*left:auto}
html:first-child select{height:20px;padding-right:6px}
option{padding-right:6px}
hr{display:none}
legend{*width:0}
table{/* border-collapse:collapse;table-layout:fixed; */border-collapse:collapse;border-spacing:0}



@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
body{
	font-family:'Nanum Gothic';
	border:1px;
}
*{
	margin:0;
	padding:0;
}

#mail_btn{
	  text-align:center;
  width:100px;
  height:30px;
  background-color:white;
  color:black ;
  border:1px solid black;
  text-align:center;
  font-weight:bold;
  font-family:Malgun Gothic;
}
#mail_btn:hover{
  background-color:#1BBC9B;
  border:1px solid white;
  color:white;
}

#si_form_div{
	position:absolute;
	left:35%;
	top:15%;
	LINE-HEIGHT: 80%;
}

#main_logo{
	width:150px;
	height:50px;
	position:fixed;
	top:3%;
	left:3%;
}
#main_bottom_div{
	width:100%;
	height:50px;
	background-color:white;
	position:fixed;
	bottom:0%;
	border-top:1px solid #aaaaaa;
	z-index:1;
}
#main_bottom_div li{
	list-style:none;
	color:white;
	padding:5px;
	margin:5px;
	font-size:20px;
}

#si_form_submit{
    position:absolute;
  left:61%;
  top:98%;
    text-align:center;
  width:100px;
  height:30px;
  background-color:white;
  color:black ;
  border:1px solid black;
  text-align:center;
  font-weight:bold;
  font-family:Malgun Gothic;
}
#si_form_submit:hover{
  background-color:#1BBC9B;
  border:1px solid white;
  color:white;
}



#duplication_button{
	float:right;
}

#si_button:hover{
  background-color:#1BBC9B;
  border:1px solid white;
  color:white;
}
#si_button{
  position:absolute;
  right:11%;
  top:3%;
  padding:5px;
  margin:5px;
  width:80px;
  color:black ;
  border:1px solid black;
  text-align:center;
  font-weight:bold;
  font-family:Malgun Gothic;
}

a.asc:active:hover{
  color:white;
  text-decoration:none;
}
a.asc:link, a.asc:visited:hover{
  color:white;
  text-decoration:none;
}
a.asc:hover{
  color:white;
  text-decoration:none;
}

#login_button:hover{
  background-color:#1BBC9B;
  border:1px solid white;
  color:white;
}
#login_button{
  position:absolute;
  right:2%;
  top:3%;
  padding:5px;
  margin:5px;
  width:80px;
  color:black;
  border:1px solid black;
  text-align:center;
  font-weight:bold;
  font-family:Malgun Gothic;
}

a.desc:link, a.desc:active, a.desc:visited{
	color:black;
	text-decoration:none;
	float:left;
	padding:15px;
	font-weight: bold;
}
a.asc:link, a.asc:active, a.asc:visited{
	color:white;
	text-decoration:none;
}
#si_form_div input,textarea{
}