﻿html,body{width:100%;height:100%}
html{overflow-y:scroll}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button{margin:0;padding:0}
body,h1,h2,h3,h4,input,button{font-family:'Nanum Gothic',dotum,Helvetica,sans-serif;font-size:15px;color:#383d41}
body{background-color:#fff;text-align:center;*word-break:break-all;-ms-word-break:break-all}
img,fieldset,iframe{border:0 none}
li{list-style:none}
input,select,button{vertical-align:middle}
img{vertical-align:top}
i,em,address{font-style:Nanum Gothic}
label,button{cursor:pointer}
button{margin:0;padding:0}
a{color:#2f3743;text-decoration:none}
a:hover{color:#390;text-decoration:underline}
button *{position:relative}
button img{left:-3px;*left:auto}
html:first-child select{height:20px;padding-right:6px}
option{padding-right:6px}
hr{display:none}
legend{*width:0}
table{/* border-collapse:collapse;table-layout:fixed; */border-collapse:collapse;border-spacing:0}


*{
	margin:0px;
	padding:0px;
}
body{
	background-color: white;
}
#main_logo{
	width:150px;
 	height:50px;
	position:absolute;
	top:3%;
	left:3%;
}
#step1_div{
	position:absolute;
	top:24%;
	left:15%;
}
#ul_div{
	position:absolute;
	top:36%;	
	left:15%;
	width:300px;
	padding-bottom:25px;
}
#next_div{
	position:absolute;
	top:45%;
	left:45%;
}
.sub{
	position:relative;
	text-align:center;
}
.sub>li:hover{
	color:green;
}
#step2_div{
	position:absolute;
	top:24%;
	right:10%;
}	
#list_div{
	position:absolute;
	top:35%;
	right:8%;
}
#pop_div{
	position:fixed;
	bottom:14%;
	right:0%;
	background-color:#e9f0f5;
}
#pop_table{
	text-align:center;
	margin:10px;
}
tr.main_tr td{
	border-bottom:1px solid black;
	padding-left:31px;
}

#pop_char{
	position:fixed;
	color:white;
	background-color:#1BBC9B;
	bottom:8.5%;
	right:0%;
	padding-top:5px;
}
#pop_char:hover{
	background-color:lightblue;
}
.px1{
	padding-right:-15px;
}

#welcome2{
  position:absolute;
  right:17%;
  top:3%;
  padding:5px;
  margin:5px;
  width:200px;
  color:black;
  text-align:center;
  font-weight:300;
  font-family:Malgun Gothic;
}
#main_bottom_div{
	width:100%;
	height:50px;
	background-color:#E9F2FB;
	position:fixed;
	bottom:0%;
	border-top:1px solid #aaaaaa;
	z-index:1;
}
#main_bottom_div li{
	list-style:none;
	color:white;
	padding:5px;
	margin:5px;
	font-size:20px;
}
a.desc:link, a.desc:active, a.desc:visited{
	color:black;
	text-decoration:none;
	float:left;
	padding:12px;
	font-weight: bold;
	margin-left:25px;
}
#si_button:hover{
	background-color:#1BBC9B;
	border:1px solid white;
	color:white;
}
#si_button{
	position:absolute;
	right:11%;
	top:3%;
	padding:5px;
	margin:5px;
	width:80px;
	color:black ;
	border:1px solid black;
	text-align:center;
	font-weight:bold;
	font-family:Malgun Gothic;
}

a.asc:active:hover{
	color:white;
	text-decoration:none;
}
a.asc:link, a.asc:visited:hover{
	color:white;
	text-decoration:none;
}
a.asc:hover{
	color:white;
	text-decoration:none;
}

#login_button:hover{
	background-color:#1BBC9B;
	border:1px solid white;
	color:white;
}
#login_button{
	position:absolute;
	right:2%;
	top:3%;
	padding:5px;
	margin:5px;
	width:80px;
	color:black;
	border:1px solid black;
	text-align:center;
	font-weight:bold;
	font-family:Malgun Gothic;
}
#i1{
	float:right;
	color:black;
	font-size:15px;
	border:1px solid #C5C5C5;
	margin-top:-3px;
	text-align:center;
	font-weight:bold;
	font-family:Malgun Gothic;
	cursor:pointer;
	margin-right:10px;
	margin-bottom:3px;
}
#i1:hover{
	background-color:#1BBC9B;
}